* {
	box-sizing: content-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

header {
    height: 20rem;
    line-height: 20rem;
    font-size: 8rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    background-color: #E51875;
    color: #FAB250;
    text-align: center;
}

.main-content {
    min-height: 500px;
    background: #f9f9f9;
}

main {
    width: 100%;
    max-width: 640px;
    margin: 1rem auto;
}

/* TODO Move home styles inside their own css file, and load as module */
.home .startgame-btn {
    display: flex;
    margin: 0 auto;
}

